services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis-db:
    image: redis:7
    container_name: staysync-redis
    ports:
      - "6379:6379"

  celery:
    build: .
    container_name: staysync_celery
    command: sh -c "celery -A app.tasks.celery_app:celery_app worker --loglevel=INFO"
    env_file:
      - .env
    depends_on:
      - redis-db
      - postgres-db


  
volumes:
  postgres_data: